{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title class="site-title">Face Recognition</title>

  <link href="{% static 'materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="{% static 'style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="{% static 'jquery.dataTables.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="{% static 'profile.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'risk_assess.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script src="{% static 'Chart.min.js' %}"></script>

</head>
<body>

  {% csrf_token %}  

  <div class="navbar-fixed">
    <nav class="blue darken-2" role="navigation">
      <div class="nav-wrapper container">
      <a id="brand_logo" href="#!" class="brand-logo">Face Recognition</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
              <a href = "/home/create-profile" class="blue darken-2" style="color: white;" target="_blank">Create Profile</a>
          </li>
          <li>
              <a href = "/home/face-detection" class="blue darken-2" style="color: white;" target="_blank">Face Detection</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  {% block content %}
  {% endblock %}


  <script type="text/javascript" src="{% static 'jquery.js' %}"></script>

  <script type="text/javascript" src="{% static 'RecordRTC.js' %}"></script>

  <script type="text/javascript" src="{% static 'adapter-latest.js' %}"></script>

  <script type="text/javascript" src="{% static 'materialize.js' %}"></script>
  
  <script type="text/javascript" src="{% static 'init.js' %}"></script>
  
</body>
</html>
