{% extends 'base.html' %}


{% load static %}
{% block content %}

<div class="alert">
    <h2>Client Risk Assessment</h2>
    <p>According to the this assessment, we will provide best investment recommendations.</p>
</div>

<div class="container">
    
    
    
  <ul>
    <h4>What is your investment attitude?</h4>
  <li>
    <input type="radio" id="a-option" name="selector" value="Low">
    <label for="a-option">Very Conservative</label>
    
  </li>
  
  <li>
    <input type="radio" id="b-option" name="selector" value="Moderately Low">
    <label for="b-option">Somewhat Conservative</label>
    
  </li>
  
  <li>
    <input type="radio" id="c-option" name="selector" value="Moderate">
    <label for="c-option">Moderate</label>
    
  </li>

    <li>
    <input type="radio" id="d-option" name="selector" value="Moderately High">
    <label for="d-option">Agressive</label>
    
  </li>
    <li>
    <input type="radio" id="e-option" name="selector" value="High">
    <label for="e-option">Very Aggressive</label>
    
  </li>
</ul>




  <ul>
    <h4>For how many years do you want to invest?</h4>
  <li>
    <input type="radio" id="a-option" name="selector" value="Low">
    <label for="a-option">0-2 Years</label>
    
  </li>
  
  <li>
    <input type="radio" id="b-option" name="selector" value="Moderately Low">
    <label for="b-option">2-5 Years</label>
    

  </li>
  
  <li>
    <input type="radio" id="c-option" name="selector" value="Moderate">
    <label for="c-option">5-10 Years</label>
    
  </li>

    <li>
    <input type="radio" id="d-option" name="selector" value="Moderately High">
    <label for="d-option">>10 Years</label>
    
</ul>


  <ul>
    <h4>Protecting my capital is more important to me than high returns</h4>
  <li>
    <input type="radio" id="a-option" name="selector" value="Low">
    <label for="a-option">Strongly Disagree</label>
    
  </li>
  
  <li>
    <input type="radio" id="b-option" name="selector" value="Moderately Low">
    <label for="b-option">Disagree</label>
    

  </li>
  
  <li>
    <input type="radio" id="c-option" name="selector" value="Moderate">
    <label for="c-option">Agree</label>
    
  </li>

    <li>
    <input type="radio" id="d-option" name="selector" value="Moderately High">
    <label for="d-option">Strongly Agree</label>
    
</ul>




        <div class="col s12">   <a id="btn-submit" class="btn blue darken-3" href="http://35.232.80.150:9595/api/risk_result">Submit</a></div>

<!--                     <div class="col s12">
                              <a id="btn-submit" class="btn blue darken-3" href="http://127.0.0.1:8000/api/risk_result">Submit</a>
                    </div> -->

           
</div>
</div>
<div>



{% endblock content %}
