{% extends 'base.html' %}


{% load static %}
{% block content %}

<div class="alert">
    <h2>Client Risk Assessment</h2>
    <p>According to the this assessment, we will determine your risk capacity.</p>
</div>

<div class="container">
    
    <h4>What is your investment attitude?</h4>
    
  <ul>
  <li>
    <input type="radio" id="f-option" name="selector">
    <label for="f-option">Very Conservative</label>
    
    <div class="check"></div>
  </li>
  
  <li>
    <input type="radio" id="s-option" name="selector">
    <label for="s-option">Somewhat Conservative</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
  
  <li>
    <input type="radio" id="t-option" name="selector">
    <label for="t-option">Moderate</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>

    <li>
    <input type="radio" id="t-option" name="selector">
    <label for="t-option">Agressive</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
    <li>
    <input type="radio" id="t-option" name="selector">
    <label for="t-option">Very Aggressive</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
</ul>
                    <div class="col s12">
                              <a id="btn-submit" class="btn blue darken-3">Submit</a>
                    </div>
</div>
</div>
<div>



{% endblock content %}
